includeConfig "${projectDir}/conf/base.config"
params {
    sample_sheet = null
    phased_vcf_dir = null
    reference_fa = null
    gencode_gtf = null
    regions_vcf = null
    outdir = null
}

profiles {
    hpc {
        executor {
            name = 'slurm'
            queueSize = 50
            submitRateLimit = '10/1min'
        }
        process {
            queue = 'mpcs.p'
            scratch = true
            errorStrategy = { task.exitStatus in [140, 143, 137, 104, 134, 139, 1] ? 'retry' : 'finish' }
            maxRetries = 3
            maxErrors = '-1'
            cpus = { Math.min(8 * task.attempt, 16) }
            memory = { "${Math.min(12 * task.attempt, 24)} GB" }
            time = { "${Math.min(2 * task.attempt, 6)}h" }
            withName: 'CHECK_FASTQ' {
                cpus = { Math.min(1 * task.attempt, 2) }
                memory = { "${Math.min(2 * task.attempt, 4)} GB" }
                time = { "${Math.min(1 * task.attempt, 2)}h" }
            }
            withName: 'ADAPTER_TRIM' {
                cpus = { Math.min(8 * task.attempt, 32) }
                memory = { "${Math.min(12 * task.attempt, 24)} GB" }
                time = { "${Math.min(2 * task.attempt, 6)}h" }
            }
            withName: 'STAR_GENOME_INDEX' {
                cpus = { Math.min(16 * task.attempt, 64) }
                memory = { "${Math.min(48 * task.attempt, 128)} GB" }
                time = { "${Math.min(2 * task.attempt, 4)}h" }
            }
            withName: 'STAR_ALIGNMENT_WASP' {
                cpus = { Math.min(32 * task.attempt, 64) }
                memory = { "${Math.min(64 * task.attempt, 128)} GB" }
                time = { "${Math.min(3 * task.attempt, 6)}h" }
            }
            withName: 'SUBSET_1KGP_VCF' {
                stageInMode = 'symlink'
                scratch = false
                cpus = { Math.min(16 * task.attempt, 32) }
                memory = { "${Math.min(64 * task.attempt, 128)} GB" }
                time = { "${Math.min(2 * task.attempt, 6)}h" }
            }
            withName: 'REPORT' {
                cpus = { Math.min(2 * task.attempt, 4) }
                memory = { "${Math.min(4 * task.attempt, 8)} GB" }
                time = { "${Math.min(30 * task.attempt, 120)}m" }
            }
        }
        workDir = "${System.getenv('WORK')}/nf-rna-wasp-allele-count_work"
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${projectDir}/container"
        singularity.pullTimeout = '1h'
        docker.enabled = false
        apptainer.enabled = false
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        singularity.enabled = false
        apptainer.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${projectDir}/container"
        docker.enabled = false
        apptainer.enabled = false
    }
    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = "${projectDir}/container"
        docker.enabled = false
        singularity.enabled = false
    }
}

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}